.spms-portfolio table,
th,
td {
  border: 1px solid black;
  margin: 1em;
}

.spms-portfolio {
  border: 2px solid grey;
  width: fit-content;
  height: fit-content;
  padding: 1em;
}

.spms-portfolio form {
  display: flex;
  flex-direction: column;
}

.spms-portfolio form * {
  margin: 0.5em;
}

.spms-portfolio form button,
.spms-portfolio form input {
  height: 2.5em;
}

.header {
  display: block;
  background: grey;
}

.invalid-symbol {
  background: red;
}

.graph {
  z-index: 2;
  width: 60em;
  height: 30em;
  background: white;
  border: 2px solid grey;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}
