html {
  background: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAALUlEQVQYlWOQ0pBpIIQZyFIkZ838H68iOWvm/zBMUBFR1hFlEl5FRDmconACAGxSU+kOc4E1AAAAAElFTkSuQmCC
  );
}
button {
  margin: 0.5em;
}
.spms-portfolio table,
th,
td {
  font-family: serif;
  padding-left: 0.25em;
  padding-right: 0.25em;
  border-collapse: collapse;
}

.spms-portfolio h2 {
  font-family: serif;
  font-style: italic;
}

.spms-portfolio {
  background-color: whitesmoke;
  border: 1.5px solid gainsboro;
  width: fit-content;
  height: fit-content;
  padding: 1em;
  border-radius: 0.25em;
  box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.2);
}

.spms-portfolio form {
  display: flex;
  flex-direction: column;
}

.spms-portfolio form * {
  margin: 0.5em;
}

.spms-portfolio form button,
.spms-portfolio form input {
  height: 2.5em;
}

.invalid-symbol {
  background: red;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  list-style: none;
  margin: 1em;
}

.graph {
  width: 75vw;
  background: whitesmoke;
  border: 1.5px solid gainsboro;
  margin: auto;
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 0.25em;
  box-shadow: -4px 4px 0px 0px rgba(0, 0, 0, 0.2);
}

.close-button {
  color: red;
  cursor: pointer;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  position: relative;
  float: left;
}

.header {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.add-portfolio-field {
  width: 50vw;
  margin: auto;
  margin-top: 2em;
}
